@tailwind base;
@tailwind components;
@tailwind utilities;

.object-cover {
    object-fit: cover;
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#priority-icons span.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
  }
  