@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./path/to/your/custom.css";

.object-cover {
    object-fit: cover;
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#priority-icons span.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
  }

  .group:hover .group-hover\:flex {
	display: flex !important;
}

